:host{

    width:100%;
}
.visible{
  height:100%;
  width: 100%;
  background-color:green;
  display: block;
    visibility: inherit;
}
.gone{
  width:0;
  height:0;
  background-color:red;
  display:block;
  visibility: hidden;
}