<action-bar disable-fade="true" title="Join our Team">
  <action-button title="Home Page" href=""></action-button>
</action-bar>


<form 
 [formGroup]="signupForm" (ngSubmit)="onSubmit(checkoutForm.value)">
    
  <page title="Basic information">
    <div style="width:400px; margin:auto;">
      <label>
        First name: <input type="text" name="firstname">
      </label>
      <br>
      <label>
        Last name: <input type="text" name="lastname">
      </label>
      <br>
      <label>
        Phone number: <input type="number" maxlength="12" name="phonenumber">
      </label>
      <br>
      <label>
        Email address: <input type="email" name="emailaddress">
      </label>
    </div>
     
  </page>
  
  <page-parallax
      img="https://www.servicefromhome.com/images/banner.jpg" 
      color-filter="#a2a2a280" 
      title="resume">
    <div style="width:400px; margin:auto;">
      <label>
        Resume: <input type="file" name="resume" accept="application/pdf, text/plain, application/docx">
      </label>
    </div>
  </page-parallax>
  
  
  <page title="Reference(Optional)">
    
    <div style="width:400px; margin:auto;">
      <label>
        Full Name: <input type="text" name="referencename">
      </label>
      <br>
      <label>
        Email Address: <input type="email" name="referenceemail">
      </label>
    </div>
    
  </page>
  <action-banner title="get started" button-title="sign up now"></action-banner>
  
  </form>