
<action-bar title="Service from Home">
  <action-button title="Log In" href="login"></action-button>
  <action-button title="Sign Up" href="signup"></action-button>
</action-bar>
<parallax img="https://www.servicefromhome.com/images/banner.jpg">

<slide-show page-ids='["mama", "papa"]' background="{{getAsset('img/slide-show-background.png')}}">
  <slide-show-page page-id="mama">
    test page mama 1
  </slide-show-page>
  <slide-show-page  page-id="papa">
    test page papa 2
  </slide-show-page>
</slide-show>


<page title="Who We Are">
  <p>
  With Work From Home powered by the Arise platform, you can service in call center related activities all from the comforts of your own personal desk at home. Through us You select your own schedule, you select what business you want to take calls for, and you select how much you want to work(minimum of 15 hours per week). Working from home places the control of the job in your hands, iliminating the stresses involved in typical workspaces.
  </p>
  <p>
We take away the friction that typical work places have due to micromanagement and place the majority of the control in your hands. No longer do you need to fight with your managers in order to get your mothers birthday off of work or work strange hours that do not match your lifestyle. Using our system you pick a schedule that works best for you and do not have to ask permission to recieve your perfect schedule. If you are a morning person: you work mornings; if you are a night owl: you work nights. In addition to flexibility, you will be awarded for your performance under this client. As you work hard and show your reliability servicing your client, you will get special opportunities to select your schedule before anyone else does, Allowing your hard work to pay off in exactly the schedule you need.
  </p>
</page>

<page-parallax title="Steps to apply" img="https://www.servicefromhome.com/images/banner.jpg" color-filter="#a2a2a280">
  <p>
  In order to work with us there is a little bit of work getting started. We understand that you may not have all the resources initially and may need time to set up your personal office. The general steps are as follows, and we will help guide you throug the process:</p>

  <ol>
    <li>
      Create an account using the "sign up now" button at the bottom of this page
    </li>

    <li>
      Wait for an email about the interview process
    </li>

    <li>
      Complete the interview and prepare your home to become your office
    </li>

    <li>
      Select the business you want to service for
    </li>

    <li>
      Complete the online training and begin working.
    </li>
    
  </ol>


</page-parallax>
<page title="Different from Traditional Call Centers" background="#61636d" text-color="#efefef">
  <p>
    In traditional call centers, you are in a crowded, noisy, room with people who are not the most friendly. and your managers are constantly bothering you and talking to you while you speak to customers. This creates an stressful environment for all of the employess. This is the reason why most people quit their jobs at a call center. It is not due to the customers that they speak to, but the added stress the work environment creates.
  </p>
</page>
<action-banner title="Create new Account" button-title="Sign Up" href="signup"></action-banner>
</parallax>

