
<action-bar title="Service from Home">
  <action-button title="Log In" href="login"></action-button>
  <action-button title="Sign Up" href="signup"></action-button>
</action-bar>

<img style="width:100%;" src="https://www.servicefromhome.com/images/banner.jpg"/>

<page title="Who We Are">
  <p>
  With Work From Home powered by the Arise platform, you can service in call center related activities all from the comforts of your own personal desk at home. Through us You select your own schedule, you select what business you want to take calls for, and you select how much you want to work(minimum of 15 hours per week). Working from home places the control of the job in your hands, iliminating the stresses involved in typical workspaces.
  </p>
  <p>
We take away the friction that typical work places have due to micromanagement and place the majority of the control in your hands. No longer do you need to fight with your managers in order to get your mothers birthday off of work or work strange hours that do not match your lifestyle. Using our system you pick a schedule that works best for you and do not have to ask permission to recieve your perfect schedule. If you are a morning person: you work mornings; if you are a night owl: you work nights. In addition to flexibility, you will be awarded for your performance under this client. As you work hard and show your reliability servicing your client, you will get special opportunities to select your schedule before anyone else does, Allowing your hard work to pay off in exactly the schedule you need.
  </p>
</page>
<page title="Steps to apply"></page>
<page title="Different from Traditional Call Centers"></page>

