/* Global Styles */

* {
  font-family: 'Roboto', Arial, sans-serif;
  color: black;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --action-bar-background:#9cb0ae;
  --action-bar-text-color:white;
}

body {
  margin: 0;
  background-color:#e8d4c2; 
}

p, div, li{
  font-size: 18px;
  color:inherit;
}

.container {
  display: flex;
  flex-direction: row;
}

router-outlet + *  {
  padding: 0 16px;
}

/* Text */

h1 {
  font-size: 32px;
}

h2 {
  font-size: 20px;
}

h1, h2 {
  font-weight: lighter;
}

p {
  font-size: 18px;
  line-height: normal;
  text-indent:4em;
}