<div class="background" style="background" [style.background-image] = "background">
<div class="slideBox"> 
  <img
  src="https://s3.amazonaws.com/assets.composemusic.org/arise/img/slides/leftarrow.png"
  (click)="arrowClick('true')"/>
  <div  style="width:100%;">
    <ng-content #contentChildren></ng-content>
  </div>
  <img
    src="https://s3.amazonaws.com/assets.composemusic.org/arise/img/slides/rightarrow.png"
   (click)="arrowClick(false)"/>
</div>
<div class="radioGroup">
  <input *ngFor="let item of getPages()" 
      #radioitem 
      type="radio" 
      name="group" 
      value="{{item}}"
      (click)="radioSelected(item)"/>
  </div>
</div>


