:host{
  width:100%;
  display:block;
  background-color:darkgray;
  /*background-image: url(https://s3.amazonaws.com/assets.composemusic.org/arise/img/slide-show-background.png);
*/
}
.slideBox{
  display:flex;
  flex-wrap:  nowrap;
  min-height: 100vh;
    height: auto;
    text-align: center;
    vertical-align: middle;

}
.radioGroup{
  display:flex;
  flex-wrap:  nowrap;
  margin:auto;
  align-items: center;
  justify-content: center;
  width:100%;
}

img{
  margin-top: auto;
  margin-bottom: auto;
  width:100px;
  height: 51px;
}
.background{
  display:block;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;;
  height: auto;
}